* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    font-family: 'Merriweather', serif;
}

input {
    border: 1px solid white;
}

html, body {
    height: 100%;
    display: block;
    width: 100%;
}

header {
    background-color: red;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    font-size: 1.75em;
    background-color: teal;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-transform: uppercase;
}

.form-top {
    margin: 0 auto;
    padding-top: 30px;
    border-bottom: 10px teal double;
    width: 90%;
}

.form-top h2 {
    text-align: center;
    color: teal;
    font-size: 1.25em;
    margin: 0 auto;
}

.form-top p {
    text-align: center;
    padding: 0 20px 40px 20px;
    color: gray;
    font-size: .85em;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 0;
}

form {
    margin: 0 auto;
    padding: 20px 20px 0 20px;
  }

fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

.contact-container {
    padding: 15px 15px 0 15px;
    border-bottom: 2px solid teal;
}

.contact-container .flex-pair {
    display: flex;
    flex-direction: column;
}

.contact-info input, select {
    height: 50px;
    margin-bottom: 15px;
}

#zipcode {
    margin-left: 0;
    max-width: 50%;
    margin-bottom: 50px;
}

legend {
    color: teal;
    font-size: 1.15em;
    text-align: left;
    padding-top: 30px;
}

legend[class="contact info"] {
    color: teal;
    font-size: 1.15em;
    text-align: left;
    padding: 5px 0 20px 0;
}

label[for="name"],
label[for="email"],
label[for="phone"],
label[for="street"],
label[for="unit"],
label[for="city"],
label[for="state"],
label[for="zipcode"] {
    color: grey;
    font-size: .75em;
}

::placeholder {
    text-align: right;
    font-style: italic;
    font-size: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 10px auto 20px;
    border-style: none;
    border-radius: 2px;
    background-color:#eff0f1;
    transition: height 2s;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover {
    background-color: rgba(97,227, 219, .75);
    border: 1px solid teal;
    height: 100px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    background-color: rgba(97,227, 219, .25);
    border: 1px solid;
}

textarea {
    padding-bottom: 40px;
}

select[id="state"] {
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 5px auto 20px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 5px 20px 10px 20px;
    margin: 5px auto;
    border-style: none;
    border-radius: 2px;
    background-color:#eff0f1;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: .75em;
}

.choice {
    color: grey;
    text-align: left;
    padding-left: 10px;
}

label {
    color: grey;
    font-size: .85em;
    text-align: left;
}

.newsletter p {
    color: grey;
    font-weight: bold;
    margin: 15px 0 5px 0;
    font-size: .85em;
    text-align: left;
}
 
.select-news {
    color: grey;
    font-weight: bold;
    margin: 15px 0 5px 0;
    font-size: .85em;
    text-align: left;
}

label[for="other_topics"] {
    display: block;
    margin: 15px 0 5px 0;
  }

.newsletter {
    padding: 15px 15px 0 15px;
}

.other {
    color: darkblue;
}

button {
    width: 100%;
    margin: 0 auto;
    background-color: teal;
    color: white;
    border-radius: 3px;
    padding: 15px;
    border-style: none;
}

footer {
    padding-bottom: 120px;
    text-align: center;
    font-style: italic;
    background-image: linear-gradient(white, #d0f5f3);
    color: grey;
    font-size: .75em;
}

@media screen and (min-width: 768px){

.contact-container .flex-pair {
    flex-direction: row;
}    

.contact-container input, select {
    flex-grow: 1;
    flex-basis: 75%;
}

.contact-container label {
    flex-basis: 25%;
    height: 30px;
    margin-top: 15px;
}

.form-top {
    width: 75%;
    padding-top: 50px;    
}

form {
    width: 75%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#zipcode {
    margin-left: 0;
    max-width: 30%;
}

}